<h2>Vehicle Details</h2>

<hr />
<div *ngIf="vehicle">

    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Brand: </b> {{vehicle.brand}}</li>
        <li class="list-group-item"><b>Vehicle Type: </b> {{vehicle.vehicleType}}</li>
        <li class="list-group-item"><b>Plate Country: </b> {{vehicle.plateCountry}}</li>
        <li class="list-group-item"><b>Plate Number: </b> {{vehicle.plateNumber}}</li>
        <li class="list-group-item"><b>VIN Number: </b> {{vehicle.vinNumber}}</li>
        <li class="list-group-item"><b>Creation Date: </b> {{vehicle.creationDate}}</li>
        <li class="list-group-item"><b>Manifactured Country: </b> {{vehicle.manifacturedCountry}}</li>
        <li class="list-group-item"></li>

    </ul>
</div>


<button (click)="updateVehicle(vehicle.id)" class="btn btn-warning">Update</button>
<button (click)="list()" class="btn btn-primary" style="margin-left: 10px">Back to Vehicle List</button>